<div class="row mx-4">
    <div class="col-12">
        <h2>Men's Brands</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row mx-5">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column pe-5">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>#</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">24karats</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>4</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">47 Brand</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>A</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">A Lost Cause<br>adidas<br>Ales Grey<br>All CAPS STUDIO<br>ALMOST HUMAN<br>ASICS</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>B</h5>
                        <p class="text-muted">
                        <a class="text-decoration-none text-reset" href="">Banks Journal<br>Barney
                            Cools<br>Bermies<br>Billabong<br>Bricks & Wood</a>    
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column pe-5">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>C</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Calvin Klein<br>Carrots<br>Champion</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>D</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Diamond Supply Co.<br>Dickies<br>Dr Martens<br>Duvin Design</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>E</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Element<br>Esprit</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>F</h5>
                        <p class="text-muted">
                        <a class="text-decoration-none text-reset" href="">Fact<br>Fila<br>FOG - Fear of God<br>Fresh Pawz</a>    
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column pe-5">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>G</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">GOAT Vintage<br>Guess</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>H</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Hanes<br>Hard Rock Cafe<br>HUF<br>Hurley</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>I</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Imperial Motion</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>J</h5>
                        <p class="text-muted">
                        <a class="text-decoration-none text-reset" href="">JacqNY</a>    
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>K</h5>
                        <p class="text-muted">
                        <a class="text-decoration-none text-reset" href="">Kappa<br>King Ice</a>    
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column pe-5">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>L</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Land Rover<br>Levi's<br>Lira<br>LITTLE AFRICA<br>Local Heroes</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>M</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Maui & Sons<br>Mitchell & Ness</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>N</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Nautica<br>New Balance<br>New Era</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>O</h5>
                        <p class="text-muted">
                        <a class="text-decoration-none text-reset" href="">Oakley<br>Obey<br>OPEN925</a>    
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column pe-5">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>P</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">PacCares<br>PacSun<br>Pendleton<br>Playboy</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>Q</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Quiksilver</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>R</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Ray-Band<br>Re.Purpose<br>Reebok<br>ROKIT</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>S</h5>
                        <p class="text-muted">
                        <a class="text-decoration-none text-reset" href="">Santa Cruz<br>Slime Balls<br>Sneaker Lab<br>Spalding</a>    
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column pe-5">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>T</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">The North Face<br>Timberland<br>Tommy Hilfiger</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>U</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">UPRISERS</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>V</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Vans<br>Volcom</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>W</h5>
                        <p class="text-muted">
                        <a class="text-decoration-none text-reset" href="">Wer're Not Really Strangers<br>WeSC<br>World Industries</a>    
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>Y</h5>
                        <p class="text-muted">
                        <a class="text-decoration-none text-reset" href="">Yellow Rat Bastard<br>Young & Reckless</a>    
                        </p>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>