<div class="row mx-4">
    <div class="col-12">
        <h2>Men's Brands</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row mx-5">

        <ul class="list-group" style="list-style: none;">
            <li class="pb-4">
                <h5>#</h5>
                <p class="text-muted">
                    <a class="text-decoration-none text-reset" href="">24karats</a>
                </p>
            </li>
            <li class="pb-4">
                <h5>4</h5>
                <p class="text-muted">
                    <a class="text-decoration-none text-reset" href="">47 Brand</a>
                </p>
            </li>
            <li class="pb-4">
                <h5>A</h5>
                <p class="text-muted">
                    <a class="text-decoration-none text-reset" href="">A Lost Cause<br>adidas<br>Ales Grey<br>All CAPS
                        STUDIO</a>
                </p>
            </li>
            <li class="pb-4">
                <h5>B</h5>
                <p class="text-muted">
                <a class="text-decoration-none text-reset" href="">Banks Journal<br>Barney
                    Cools<br>Bermies<br>Billabong</a>    
                </p>
            </li>
        </ul>

    </div>
</div>