<ps-topnavbar></ps-topnavbar>

<div class="container-fluid d-flex m-5">
    <div class="col-5">
        <div class="d-flex">
            <h2>Order Locator</h2>
        </div>
        <div class="d-flex">
            <p>Locate your order without logging in. Enter the order number, email address, and zip code (billing or
                shipping) associated with the order you wish to find.
                To track international orders, <a class="link-primary" href="#">click here</a></p>
        </div>

    </div>

    <div class="d-flex col-7 justify-content-center">
        <div class="card p-4">
            <div class="py-2">
                Order Number
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Order Number" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="py-2">
                Email Adress
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email Adress" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="py-2">
                Zip Code
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Zip Code" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            

        </div>
    </div>

</div>

<ps-category-card></ps-category-card>
<ps-bottomnav></ps-bottomnav>