<ps-topnavbar></ps-topnavbar>

<div class="container-fluid d-flex flex-row">
    <div class="col-6">
        <div class="p-4"></div>
        <div class="d-flex pt-5  justify-content-center">
            <p>Refer a Friend</p>
        </div>
        <div class="d-flex pt-5 justify-content-center">
            <h1>Give 15% -> Get 15%</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p class="text-center my-3">Give your friends 15% off their first PacSun order. Get 15% off for<br>yourself
                everytime a friend cashes in</p>
        </div>
        <div class="d-flex justify-content-center">
            <div class="input-group-lg my-3">
                <input type="text" class="form-control" placeholder="Your name" aria-label="Your name"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="input-group-lg my-3">
                <input type="text" class="form-control" placeholder="Your email adress" aria-label="Your email adress"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
            <button type="button" class="btn btn-dark btn-lg btn-block">Refer a Friend</button>
        </div>

    </div>
    <div class="col-6">
        <img src="/assets/pacsun_referal.jpeg">
    </div>
</div>


<ps-category-card></ps-category-card>
<ps-bottomnav></ps-bottomnav>