<div class="row">
  <div class="container col-6">
    <div id="pacsunlight" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#pacsunlight" data-bs-slide-to="0" class="button-indicator active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#pacsunlight" data-bs-slide-to="1" class="button-indicator"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#pacsunlight" data-bs-slide-to="2" class="button-indicator"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#pacsunlight" data-bs-slide-to="3" class="button-indicator"
          aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#pacsunlight" data-bs-slide-to="4" class="button-indicator"
          aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container m-6">
            <br>
            <a class="font-bold text-uppercase item-link text-decoration-none text-black" href="#">#pacmallrats</a>
            <h1>PacSun NFT Auction</h1>
            <p>
              A collection of digital animations hand-drawn exclusively for PacSun. Named after varying PacSun store
              locations, each 1-of-1 collectible NFT has its own unique vibe and features 'fits inspired by our
              #pacfamily.
              Take complete ownership of the one that speaks to you the most or collect them all to own a piece of
              PacSun
              history.
              Plus, you'll also receive exclusive physical merch, access to community events, and more.
            </p>
             <br>
              <button type="button" class="btn btn-outline-dark p-2 me-3 sq-button">Learn More</button>
              <button type="button" class="btn btn-outline-dark p-2 sq-button">View Auction</button>
          </div>

        </div>
        <div class="carousel-item">
          <div class="container m-6">
            <br>
            <a class="font-bold text-uppercase item-link text-decoration-none text-black" href="#">#pacsuntogether</a>
            <h1>In-Store Saftey</h1>
            <p>
              The health and safety of our customers, associates, and members of our community remains our top priority.
              To keep everyone safe, we've made some changes in our reopened stores.
            </p>
            <br>
              <button type="button" class="btn btn-outline-dark p-2 me-3 sq-button">Read More</button>
              <button type="button" class="btn btn-outline-dark p-2 sq-button">Find An Open Store</button>
          </div>

        </div>
        <div class="carousel-item">
          <div class="container m-6">
            <br>
            <a class="font-bold text-uppercase item-link text-decoration-none text-black" href="#">#scorerewards</a>
            <h1>PacSun Rewards</h1>
            <p>
              Instant $5 Reward and a bonus of 250 points* just for signing up! Plus, get even more perks when you level
              up to VIP.
            </p>
            <br>
              <button type="button" class="btn btn-outline-dark p-2 me-3 sq-button">Learn More</button>
          </div>

        </div>
        <div class="carousel-item">
          <div class="container m-6">
            <br>
            <a class="font-bold text-uppercase item-link text-decoration-none text-black" href="#">#blacklivesmatter</a>
            <h1>Be the change</h1>
            <p>
              PacSun stands with Black Lives Matter and Stop AAPI Hate. Educate yourself, petition, and donate. Learn
              how
              you can be a better ally.
            </p>
            <br>
              <button type="button" class="btn btn-outline-dark p-2 me-3 sq-button">Read More</button>
              <button type="button" class="btn btn-outline-dark p-2 sq-button">Shop Black-Owned</button>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container m-6">
            <br>
            <a class="font-bold text-uppercase item-link text-decoration-none text-black" href="#">#easyfastfree</a>
            <h1>Buy Online, Pick Up In Store</h1>
            <p>
              Take 10% off every time you opt to pick up your order at your nearest PacSun store!
            </p>
            <br>
              <button type="button" class="btn btn-outline-dark p-2 me-3 sq-button">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-6">
    <div id="pacsundark" class="carousel inverted-carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#pacsundark" data-bs-slide-to="0" class="active button-indicator"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#pacsundark" data-bs-slide-to="1" class="button-indicator"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#pacsundark" data-bs-slide-to="2" class="button-indicator"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#pacsundark" data-bs-slide-to="3" class="button-indicator"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container m-6">
            <br>
            <a class="font-bold text-uppercase item-link text-decoration-none text-light" href="#">#changetheworld</a>
            <h1 class="text-light">PacCares</h1>
            <p class="text-light">
              Inspiring positive development, one style at a time. Change your look. Change the world.
              PacSun will make contributions to support our charitable organizations during the course of our PacCares
              brand
              program.
            </p>
            <br>
              <button type="button" class="btn btn-outline-light p-2 me-3 sq-button">Learn More</button>
              <button type="button" class="btn btn-outline-light p-2 sq-button">Shop Now</button>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container m-6">
            <br>
            <a class="font-bold text-uppercase item-link text-decoration-none text-light" href="#">#stayconnected</a>
            <h1 class="text-light">Download Our New App</h1>
            <p class="text-light">
              A collection of digital animations hand-drawn exclusively for PacSun. Named after varying PacSun store
              locations, each 1-of-1 collectible NFT has its own unique vibe and features 'fits inspired by our
              #pacfamily.
              Take complete ownership of the one that speaks to you the most or collect them all to own a piece of
              PacSun
              history.
              Plus, you'll also receive exclusive physical merch, access to community events, and more.           
            </p>
            <br>
              <button type="button" class="btn btn-outline-light p-2 me-3 sq-button">IPhone</button>
              <button type="button" class="btn btn-outline-light p-2 sq-button">Android</button>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container m-6">
            <br>
            <a class="font-bold text-uppercase item-link text-decoration-none text-light" href="#">#lovetheearth</a>
            <h1 class="text-light">The Sustainability Shop</h1>
            <p class="text-light">
              At PacSun, we believe that it's the small changes you make today that will result in a better tomorrow.
              Join us on our journey as we commit to being better and more mindful of the fabrics and processes we use
              to
              bring you the styles that you love.           
            </p>
            <br>
              <button type="button" class="btn btn-outline-light p-2 sq-button">Shop Now</button>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container m-6">
            <br>
            <a class="font-bold text-uppercase item-link text-decoration-none text-light">#newwaytopay</a>
            <h1 class="text-light">bitpay Is Here</h1>
            <p class="text-light">
              At PacSun, we believe that it's the small changes you make today that will result in a better tomorrow.
              Join us on our journey as we commit to being better and more mindful of the fabrics and processes we use
              to
              bring you the styles that you love.
            </p>
            <br>
              <button type="button" class="btn btn-outline-light p-2 me-2 sq-button">Shop Men</button>
              <button type="button" class="btn btn-outline-light p-2 me-2 sq-button">Shop Women</button>
              <button type="button" class="btn btn-outline-light p-2 sq-button">Shop Kids</button>

          </div>
        </div>

      </div>
    </div>
  </div>