<div class="row mx-4">
    <div class="col-12">
        <h2>Women's Brands</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row mx-5">
        <ul class="list-group" style="list-style: none;">
            <li class="pb-4">
                <h5>#</h5>
                <p class="text-muted"><a class="text-decoration-none text-reset" href="">4Si3NNA</a></p>
            </li>
            <li class="pb-4">
                <h5>A</h5>
                <p class="text-muted">
                    <a class="text-decoration-none text-reset" href="">adidas<br>Ales Grey<br>American Needle<br>Amor y Besos</a>
                </p>
            </li>
            <li class="pb-4">
                <h5>B</h5>
                <p class="text-muted">
                    <a class="text-decoration-none text-reset" href="">Ban.do<br>Billabong<br>Blossom<br>Blue Hour</a>
                </p>
            </li>
        </ul>
    </div>
</div>