<div class="row mx-4">
    <div class="col-12">
        <h2>Women's Brands</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row mx-5">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>#</h5>
                        <p class="text-muted"><a class="text-decoration-none text-reset" href="">4Si3NNA</a></p>
                    </li>
                    <li class="pb-4">
                        <h5>A</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">adidas<br>Ales Grey<br>American
                                Needle<br>Amor y Besos<br>Ark Made</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>B</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Ban.do<br>Billabong<br>Blossom<br>Blue
                                Hour<br>Body Glove</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>C</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Calvin Klein<br>Casa Clara<br>Champion<br>Charlie Holiday</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>D</h5>
                        <p class="text-muted"><a class="text-decoration-none text-reset" href="">Daisy Street<br>Salina Ford Swim<br>Deser Dreamer<br>Designworks Ink<br>Dr Martens</a></p>
                    </li>
                    <li class="pb-4">
                        <h5>E</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">ella+mila<br>Esprit<br>Ettika</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>F</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">FCUK<br>Fila<br>Free People</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>G</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">GOAT Vintage<br>Golden Hour<br>Guess</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>H</h5>
                        <p class="text-muted"><a class="text-decoration-none text-reset" href="">Hali Hali Design</a></p>
                    </li>
                    <li class="pb-4">
                        <h5>I</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Illume<br>Inked by Dani</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>J</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">JacqNY<br>John Gait<br>Junk Food</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>K</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Kappa<br>Keds<br>Knock Knock</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>L</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">LA hearts<br>Lahana Swim<br>Lazypants</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>M</h5>
                        <p class="text-muted"><a class="text-decoration-none text-reset" href="">Milk It<br>MinkPink<br>Mint Swim<br>Modern Renewal</a></p>
                    </li>
                    <li class="pb-4">
                        <h5>N</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Nollie</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>O</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Obey<br>Ohlolly<br>ONE DNA</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>P</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">PacCares<br>PacSun<br>Paddywax<br>Peppermayo<br>Phenomenal<br>Playboy<br>Polo Ralph Lauren<br>Puma</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>Q</h5>
                        <p class="text-muted"><a class="text-decoration-none text-reset" href="">Quiksilver</a></p>
                    </li>
                    <li class="pb-4">
                        <h5>R</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Raga<br>Ragged Jeans<br>Reebok<br>Rhythm<br>RVCA</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>S</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Salero Swim<br>SANRIO<br>Santa Cruz<br>Spalding<br>Stone Fox<br>Storm Reid x Pacsun<br>Superdry<br>Superga</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column">
                <ul class="list-group" style="list-style: none;">
                    <li class="pb-4">
                        <h5>T</h5>
                        <p class="text-muted"><a class="text-decoration-none text-reset" href="">The Kript<br>The North Face<br>The Ragged Priest<br>TOAST<br>Tommy Hilfiger<br>Tori Praver<br>TWIIN</a></p>
                    </li>
                    <li class="pb-4">
                        <h5>V</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">Vacancy<br>Vans<br>Volcom<br>VYB</a>
                        </p>
                    </li>
                    <li class="pb-4">
                        <h5>W</h5>
                        <p class="text-muted">
                            <a class="text-decoration-none text-reset" href="">WeSC<br>Wolven<br>Workman<br>Wyeth</a>
                        </p>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>